extends layout

block content
  .divider10
  .divider5
  .maincontainer.widecontainer.center.hpadded
    h1.title Your profile
    if sessionData.notifications
      each notification in sessionData.notifications
        notification(text=notification)
    .maincontainer.hpadded.purewhite.top-margin.border-box
      h2 #{user.firstName} #{user.lastName}
      .flexcontainer.stack
        .flexcontainer.horizontal.profile-data-row
          p #{user.email}
          p.profile-data-label email
        .flexcontainer.horizontal.profile-data-row
          p ••••••••••••••
          p.profile-data-label  password
        .flexcontainer.horizontal.profile-data-row
          p #{user.lastKnownMajor}
          p.profile-data-label  major
        if user.isPaying
          p.themecolor You are currently a paid member!
        else
          p.themecolor You are not currently a paid member, and some features will be unavailabile.  Head to one of our meetings to sign up!
          
  .divider10
  .divider10

block scripts
  script(src="/javascripts/profile.js")
  script(type="text/javascript" src="https://js.squareup.com/v2/paymentform")
block styles
  link(rel='stylesheet', href='/stylesheets/profile.css')
