extends layout

block content
  .divider10
  .divider5
  .maincontainer.widecontainer.center.hpadded
    h1.title Your profile
    if sessionData.notifications
      .top-margin
        each notification, index in sessionData.notifications
          notification(text=notification notification-id=index)
    .maincontainer.hpadded.purewhite.top-margin.border-box
      h2 #{user.firstName} #{user.lastName}
      .flexcontainer.stack
        .flexcontainer.horizontal.profile-data-row
          p #{user.email}
          p.profile-data-label email
        .flexcontainer.horizontal.profile-data-row
          p ••••••••••••••
          p.profile-data-label  password
        .flexcontainer.horizontal.profile-data-row
          p #{user.lastKnownMajor}
          p.profile-data-label  major
        button.cta(@click="genQrCode") Generate QR code
        canvas#qrcode
        if user.isPaying
          p.themecolor You are currently a paid member!
        else
          p.themecolor You are not currently a paid member, and some features will be unavailabile.  Head to one of our meetings to sign up, or pay online below
          p.themecolor Membership costs $15 for the quarter
          #payment-form.vcentercontainer.top-margin
            #sq-ccbox
              form#nonce-form(novalidate='', action='/api/v1/makeMembershipPayment', method='post')
                table
                  tbody
                    tr
                      td Card Number:
                      td
                        #sq-card-number
                    tr
                      td CVV:
                      td
                        #sq-cvv
                    tr
                      td Expiration Date: 
                      td
                        #sq-expiration-date
                    tr
                      td Postal Code:
                      td
                        #sq-postal-code
                    tr
                      td(colspan='2')
                        button#sq-creditcard.button-credit-card.cta(@click="submitPayment")
                          | Pay with card
                //
                  After a nonce is generated it will be assigned to this hidden input field.
                input#card-nonce(name='nonce', type='hidden')
            #payment-loading-cover.vcentercontainer(v-if="loading")
              .lds-dual-ring
          
  .divider10
  .divider10

block scripts
  script(type="text/javascript" src="/javascripts/qrcode.min.js")
  script.
    var generateQrCode = function () {
      console.log("#{user.id}")
      const user = "Email: #{user.email}\nId: #{user.id}\nIs paying member: #{user.isPaying}"
      QRCode.toCanvas(document.getElementById('qrcode'), user);
    }
  script(type="text/javascript" src="https://js.squareup.com/v2/paymentform")
  script(type="text/javascript" src="/javascripts/squarepaymentform.js")
  script(src="/javascripts/profile.js")
block styles
  link(rel='stylesheet', href='/stylesheets/profile.css')
  link(rel='stylesheet', href='/stylesheets/squarepaymentform.css')
